@model Gab.Models.User

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAtMonthLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAtMonthLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowerCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowerCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowingCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowingCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureUrlFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PictureUrlFull)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Following)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Following)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Followed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Followed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDonor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDonor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInvestor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInvestor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPremium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPremium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTippable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTippable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAccessible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAccessible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowPending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowPending)
        </dd>
    </dl>
</div> 