@model Response<List<Gab.Models.User>>

@{
    ViewData["Title"] = "Followed";
}

<h2>@ViewData["Title"]</h2>
 
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].CreatedAtMonthLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].FollowerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].FollowingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].PostCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].PictureUrlFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].Following)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].Followed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].Verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsDonor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsInvestor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsPremium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsTippable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsAccessible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].FollowPending)
            </th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtMonthLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrlFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Following)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Followed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDonor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInvestor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPremium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTippable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccessible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowPending)
            </td> 
        </tr>
}
    </tbody>
</table>
