@model Post

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RevisedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RevisedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edited)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BodyHtml)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BodyHtml)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BodyHtmlSummary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BodyHtmlSummary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BodyHtmlSummaryTruncated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BodyHtmlSummaryTruncated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Liked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Liked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disliked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disliked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bookmarked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bookmarked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Repost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Repost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reported)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reported)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LikeCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DislikeCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DislikeCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReplyCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReplyCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepostCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepostCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsQuote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsQuote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsReply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReply)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nsfw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nsfw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPremium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPremium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLocked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PremiumMinTier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PremiumMinTier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentTier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnlyEmoji)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnlyEmoji)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRepliesDisabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRepliesDisabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div> 