@model GroupExt

@{
    ViewData["Title"] = "GroupDetails";
}

<h2>GroupDetails</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PinnedPostId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PinnedPostId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoverUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoverUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsJoined)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsJoined)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanJoin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanJoin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFavorited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFavorited)
        </dd>
    </dl>
</div> 
